# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Environments
.venv/
venv/
env/

# Large / private data
data/*
!data/sample/
!data/sample/**
*.zip
*.tar.gz

# Models / artifacts
*.pkl
*.joblib
*.pt
*.bin
*.h5

# Colab
*.log
